$myGray:rgb(243, 243, 243);
$myGrayHover:#E6E6E6;
.whiteSmookGradient{
	background: #ededed; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VhZWFlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmNGY0ZjQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ededed 0%, #eaeaea 50%, #f4f4f4 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ededed), color-stop(50%,#eaeaea), color-stop(100%,#f4f4f4)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ededed 0%,#eaeaea 50%,#f4f4f4 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ededed 0%,#eaeaea 50%,#f4f4f4 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ededed 0%,#eaeaea 50%,#f4f4f4 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ededed 0%,#eaeaea 50%,#f4f4f4 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ededed', endColorstr='#f4f4f4',GradientType=0 ); /* IE6-8 */

}
body{
	max-width:960px;
	margin:0px auto;
	>header{
		position: relative;
	  	nav{
	  		background:$myGray;
	  		ul{
	  			margin:0px;
	  			li{
	  				display:inline-block;
	  				&:hover{
	  					background:$myGrayHover;
	  				}
	  				a{
	  					padding:10px;
	  				}
	  			}
	  		}
	  		&.navbar-header{
	  			a{
	  				padding:5px 10px;
	  				height: initial;
	  				img{
	  					max-width: 40px;
	  				}
	  			}
	  		}
	  	}
	  	#lang{
	  		position: absolute;
	  		right:0px;
	  		top:0px;
	  		bottom:0px;
	  		margin:auto;
	  		// height: 20px;
	  		img{
	  			margin-left: 5px;
	  		}
  			li{
  				&:hover{
  					@extend .handHover;
  					background:$myGrayHover;
  				}
  			}
	  	}
	}

	>main{
		// background:black;
		min-height: 450px;
	}

	>footer{

		background:$myGray;
		h5{
			border-top: 1px solid gray;
			text-align: center;
			padding:40px 0px;
		}
	}
}
#UI{
	margin-top: 30px;
	// ====================== Flip Element 3D =====================
	#Content3D{
		position: relative;
		@include perspective(600);
		img{
			width: 100%;
		}
		h4{
			font-weight: bold;
			color: #a8f133;
			background: -moz-linear-gradient(-45deg, #686868 0%, #6D7177 50%, #0065FF 51%, #006FFC 100%);
			background: -webkit-linear-gradient(-45deg, #686868 0%, #6D7177 50%, #0065FF 51%, #006FFC 100%);
			background: linear-gradient(-45deg, #686868 0%, #6D7177 50%, #0065FF 51%, #006FFC 100%);
			background-size: 1500%;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			-webkit-animation: em-animation 5s linear 0s infinite alternate;
			-moz-background-clip: text;
			-moz-text-fill-color: transparent;
			-moz-animation: em-animation 5s linear 0s infinite alternate;
			background-clip: text;
			text-fill-color: transparent;
			animation: em-animation 5s linear 0s infinite alternate;
		}
		.box{
			overflow:hidden;
			// padding:15px 0px;
			background: $myGray;
			border:1px solid $myGrayHover;
			min-height: 300px;
			@include transition(all .4s ease);
			@include backface-visibility(hidden);
			&.flip{
			    -webkit-transform-style: preserve-3d;
			    -moz-transform-style: preserve-3d;
			    -o-transform-style: preserve-3d;
			    transform-style: preserve-3d;
				@include transform(rotateY(180deg));
				
			}
		}
		.box-back{
			overflow:hidden;
			// padding:15px 0px;
			background: $myGray;
			border:1px solid $myGrayHover;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			@include transition(all .4s ease);
		    -webkit-transform-style: preserve-3d;
		    -moz-transform-style: preserve-3d;
		    -o-transform-style: preserve-3d;
		    transform-style: preserve-3d;
			@include transform(rotateY(-180deg));
			@include backface-visibility(hidden);
			&.flip{
				@include transform(rotateY(0deg));
			}
		}
	}

	#Other{
		.box{
			position: relative;
			margin: 20px 0px;
			height: 300px;
			width: 400px;
			// @extend .whiteSmookGradient;
			background-color: #fff;
			margin: 0px auto;
			-webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
			-moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
			&:before,
			&:after{
				position: absolute;
				width: 40%;
				height: 10px;
				content: ' ';
				left: 12px;
				bottom: 12px;
				background: transparent;
				-webkit-transform: skew(-5deg) rotate(-5deg);
				-moz-transform: skew(-5deg) rotate(-5deg);
				-ms-transform: skew(-5deg) rotate(-5deg);
				-o-transform: skew(-5deg) rotate(-5deg);
				transform: skew(-5deg) rotate(-5deg);
				-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
				-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
				box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
				z-index: -1;
			}
			&:after{
				left: auto;
				right: 12px;
				-webkit-transform: skew(5deg) rotate(5deg);
				-moz-transform: skew(5deg) rotate(5deg);
				-ms-transform: skew(5deg) rotate(5deg);
				-o-transform: skew(5deg) rotate(5deg);
				transform: skew(5deg) rotate(5deg);
			}
		}
	}

	#sticky{
		padding-top: 20px;
		img{
			width: 100%;
		}
		.needToFixed{
			position: relative;
			height: 200px;
			.box{
				margin-top: 20px;
				.item{
					min-height: 200px;
					background-color: whitesmoke;
					border:1px solid gray;
				}
				&.affix{
					position: initial;
				}
				&.affix-top{
					position: fixed;
					width: 100%;
					bottom: 0px;
				}
			}
			&.fixed{
				min-height: 200px;
				.box{
					position:fixed;
				}
			}
		}
	}
}
 
