$myGray:rgb(243, 243, 243);
$myGrayHover:#E6E6E6;
body{
	max-width:960px;
	margin:0px auto;
	>header{
		position: relative;
	  	nav{
	  		background:$myGray;
	  		ul{
	  			margin:0px;
	  			li{
	  				display:inline-block;
	  				&:hover{
	  					background:$myGrayHover;
	  				}
	  				a{
	  					padding:10px;
	  				}
	  			}
	  		}
	  		&.navbar-header{
	  			a{
	  				padding:5px 10px;
	  				height: initial;
	  				img{
	  					max-width: 40px;
	  				}
	  			}
	  		}
	  	}
	  	#lang{
	  		position: absolute;
	  		right:0px;
	  		top:0px;
	  		bottom:0px;
	  		margin:auto;
	  		// height: 20px;
	  		img{
	  			margin-left: 5px;
	  		}
  			li{
  				&:hover{
  					@extend .handHover;
  					background:$myGrayHover;
  				}
  			}
	  	}
	}

	>main{
		// background:black;
		min-height: 450px;
	}

	>footer{
		background:$myGray;
		h5{
			text-align: center;
			padding:40px 0px;
		}
	}
}
#UI{
	margin-top: 30px;
	// ====================== Flip Element 3D =====================
	#Content3D{
		position: relative;
		@include perspective(600);
		img{
			width: 100%;
		}
		.box{
			overflow:hidden;
			// padding:15px 0px;
			background: $myGray;
			border:1px solid $myGrayHover;
			min-height: 300px;
			@include transition(all .4s ease);
			@include backface-visibility(hidden);
			&.flip{
			    -webkit-transform-style: preserve-3d;
			    -moz-transform-style: preserve-3d;
			    -o-transform-style: preserve-3d;
			    transform-style: preserve-3d;
				@include transform(rotateY(180deg));
				
			}
		}
		.box-back{
			overflow:hidden;
			// padding:15px 0px;
			background: $myGray;
			border:1px solid $myGrayHover;
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0px;
			left: 0px;
			@include transition(all .4s ease);
		    -webkit-transform-style: preserve-3d;
		    -moz-transform-style: preserve-3d;
		    -o-transform-style: preserve-3d;
		    transform-style: preserve-3d;
			@include transform(rotateY(-180deg));
			@include backface-visibility(hidden);
			&.flip{
				@include transform(rotateY(0deg));
			}
		}
	}
}
 
